body {
    height: 100vh !important;
    width: 100vw !important;
}

main {
    height: inherit;
}

.row {
    margin-left: 0;
    margin-right: 0;
    height: inherit;
}

span.flex {
    display: flex;
    flex: 1;
}

.btn {
    border-radius: 0;
    font-size: 15px;
}

.btn i {
    margin-right: 10px;
}

.btn-primary {
    background-color: #1C80CF;
    border-color: #1C80CF;
}

.btn-primary:hover {
    background-color: #2196F3;
    border-color: #2196F3;
}

.form-control {
    border-radius: 0;
    font-size: 15px;
    padding: 20px 15px;
}

@font-face {
    font-family: Nilland;
    src: url('../fonts/Nilland.ttf');
}

@font-face {
    font-family: Work sans;
    src: url('../fonts/WorkSans-Regular.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Work sans;
    src: url('../fonts/WorkSans-Bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Work sans;
    src: url('../fonts/WorkSans-Light.otf');
    font-style: normal;
    font-weight: lighter;
}

body {
    font-family: "Work sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dd-home-navbar-logo img {
    height: 50px;
}

.dd-home-navbar {
    margin-bottom: 0;
    border-bottom: 1px solid #d0d4d9;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background: #fff;
}

.dd-nav-links p {
    padding: 15px;
    line-height: 20px;
}

.dd-nav-links li a {
    font-size: 20px;
    color: #ccc;
}

.dd-nav-links > li > a:hover,
.dd-nav-links > li > a:focus {
    background-color: #fff;
    color: #2d3238;
}

.dd-brand {
    color: #2d3238;
}

.row {
    width: inherit;
}

.dd-navtree {
    height: inherit;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #262F36;
}

.dd-navtree p, .dd-navtree h1, .dd-navtree h2, .dd-navtree h3, .dd-navtree h4, .dd-navtree h5, .dd-navtree h6 {
    color: #fff;
    font-size: 16px;
}

.dd-navtree > ul {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0;
}

.dd-navtree > ul > li {
    width: 100%;
    height: 55px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.dd-navtree > ul > li.active {
    background-color: #2e3942;
}

.dd-navtree > ul > li:hover {
    border-left: 3px solid #465764;
    background-color: #2e3942;
    padding-left: 12px;
}

.dd-navtree > ul > li > a {
    height: 100%;
    width: 100%;
    display: inline-block;
    line-height: 55px;
}

.dd-navtree > ul > li > a > * {
    padding: 0;
    margin: 0;
}

p > i {
    margin-right: 10px;
}

.dd-navtree #treeview {
    display: flex;
    flex: 1;
    overflow-y: auto;
    background-color: #2e3942;
}

.dd-navtree .treeview .list-group {
    width: 100%;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.dd-navtree .treeview .list-group .list-group-item {
    border: 0 !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    padding: 15px 15px;
}

.dd-navtree .treeview .list-group .list-group-item:hover {
    background-color: #465764 !important;
}

.dd-filebox {
    height: inherit;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #d0d4d9;
    box-shadow: 0px 1px 1px #d0d4d9;
    padding: 0;
}

.dd-filebox .filebox-header, .dd-navtree .navtree-header, .file-info .file-info-header, .profile-nav .profile-nav-header {
    padding: 0px 20px;
    height: 55px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
}

.dd-filebox .filebox-header {
    background-color: #ecf0f1;
    color: #262F36;
}

.dd-filebox .filebox-header h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dd-filebox .filebox-header a:first-of-type {
    margin-left: 25px;
}

.dd-filebox .filebox-header a h4 {
    font-weight: 100;
    margin-right: 20px;
}

.dd-filebox .filebox-header a:link, .dd-filebox .filebox-header a:visited {
    color: #aab2bd;
}

.dd-filebox .filebox-header a:hover, .dd-filebox .filebox-header a:active {
    color: #35a2f9;
}

.search-bar {
    height: 55px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ecf0f1;
    color: #000;
    display: flex;
    align-items: center;
}

.search-bar .input-group input {
    font-size: 15px;
    height: 38px;
    width: 100%;
    border: 0;
    background-color: transparent;
}

.search-bar .input-group input:focus {
    outline: 0;
}

.search-bar .input-group .input-group-btn button {
    background: transparent;
    border: 0;
    margin-left: 15px;
    padding: 0;
    font-size: 20px;
    color: #aab2bd;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.search-bar .input-group .input-group-btn button:hover, .search-bar .input-group .input-group-btn button:active {
    height: inherit;
    color: #35a2f9;
}

.search-results {
    flex: 1;
    width: 100%;
}

.search-results > .no-search-results {
    text-align: center;
    margin-top: 20px;
}

.dd-navtree .navtree-header {
    background-color: #2980b9;
    color: #fff;
}

.file-info .file-info-header {
    background-color: #F5F7FA;
}

.file-info .file-info-header h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.file-info .file-info-header a:first-of-type {
    margin-left: 25px;
}

.file-info .file-info-header a h4 {
    font-weight: 100;
    margin-right: 20px;
}

.file-info .file-info-header a:link, .file-info .file-info-header a:visited {
    color: #aab2bd;
}

.file-info .file-info-header a:hover, .file-info .file-info-header a:active {
    color: #35a2f9;
}

.dd-filebox:hover {
    overflow: auto;
}

.dd-filebox table tr {
    font-size: 15px;
}

.dd-row-icon {
    height: 40px;
    margin-right: 9px;
}

.dd-row-details {
    padding-top: 15px !important;
}

.table th, .table td {
    border-top: none !important;
}

.file-explorer-table {
    table-layout:fixed !important;
}

.file-explorer-table tbody tr {
    cursor: pointer;
    cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.file-explorer-table tbody tr td {
    padding: 15px;
    overflow-x: hidden;
}

.file-explorer-table tbody tr:hover {
    background-color: #F5F5F5;
}

.file-explorer-table tbody tr td span.name {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

#dd-filebox-id > tr.active {
    background: #AAB2BD !important;
}

.file-info {
    height: inherit;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    background: #fdfdfe url('../img/logo-magatama.svg')no-repeat center center;
    background-size: 150px 150px;
    padding: 0px !important;
}

.file-info .logo-layer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-info .preview {
    padding: 40px;
    margin-right: auto;
    width: 100%;
    overflow-y: scroll;
    visibility: hidden;
}

.file-info .preview img {
    visibility: visible;
}

.file-info .preview:hover {
    visibility: visible;
}

.file-info .preview img {
    width: 100%;
    height: auto;
}

.dropzone {
    margin: 20px;
    background-color: transparent;
    color: #333 !important;
    height: 330px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    flex-shrink: 0;
}

div.upload-previews {
    border-top: 1px solid #ECF0F1;
    overflow-y: auto;
    flex: 1;
}

div.upload-previews div.upload-preview {
    padding: 10px 15px;
    border-bottom: 1px solid #ECF0F1;
}

div.upload-previews div.upload-preview:last-child {
    border-bottom: none;
}

div.upload-previews p {
    font-size: 15px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.upload-previews .progress {
    margin-bottom: 0 !important;
}

div.upload-previews .upload-remove-link {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #e74c3c;
    cursor: pointer;
}

div.upload-controls {
    width: 100%;
    padding: 10px 10px 30px 10px;
    flex-shrink: 0;
    border-top: 1px solid #ECF0F1;
    display: flex;
    flex-direction: row;
}

div.upload-controls .btn {
    flex: 1;
    margin-left: 5px;
}

div.upload-controls .btn:first-child {
    margin-left: 0;
}

.profile-nav {
    height: inherit;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #d0d4d9;
    box-shadow: 0px 1px 1px #d0d4d9;
    padding: 0;
}

.profile-nav .profile-nav-header {
    background-color: #ecf0f1;
    color: #262F36;
}

.profile-nav .profile-nav-content {
    flex-grow: 1;
}

.profile-nav-content p {
    color: #434a54;
    font-size: 16px;
}

.profile-nav-content > ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0;
}

.profile-nav-content > ul > li {
    width: 100%;
    height: 55px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.profile-nav-content > ul > li.active {
    background-color: #F5F5F5;
}

.profile-nav-content > ul > li:hover {
    background-color: #F5F5F5;
}

.profile-nav-content > ul > li > a {
    height: 100%;
    width: 100%;
    display: inline-block;
    line-height: 55px;
}

.profile-nav-content > ul > li > a > * {
    padding: 0;
    margin: 0;
}

.profile-container {
    height: inherit;
    overflow-y: auto;
    flex-grow: 1;
    padding-left: 0;
}

.profile-body {
    height: inherit;
    max-width: 600px;
    padding: 55px 35px;
}

div.user-info {
    margin-bottom: 40px;
}

div.user-info:last-child {
    margin-bottom: 0px;
}

div.user-info .header {
    font-size: 35px;
}

div.user-info .detail {
    border-bottom: 1px solid #ECF0F1;
    padding: 15px 10px 7px;
}

div.user-info .detail:last-child {
    border-bottom: none;
}

div.user-info .detail p {
    font-size: 16px;
    margin: 0;
}

div.user-info .detail .btn {
    margin-top: 15px;
}

div.user-info .manage {
    background-color: #F5F5F5;
}

.detail .btn {
    margin-top: 0 !important;
}

.detail small {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}