body {
    display: flex !important;
    min-height: 100vh !important;
    width: 100%;
    flex-direction: column !important;
}

main {
    display: flex !important;
    flex: 1;
    width: inherit;
}

@font-face {
    font-family: Nilland;
    src: url('../fonts/Nilland.ttf');
}

@font-face {
    font-family: Work sans;
    src: url('../fonts/WorkSans-Regular.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Work sans;
    src: url('../fonts/WorkSans-Bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Work sans;
    src: url('../fonts/WorkSans-Light.otf');
    font-style: normal;
    font-weight: lighter;
}

body {
    font-family: "Work sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dd-home-navbar-logo img {
    height: 50px;
}

.dd-home-navbar {
    margin-bottom: 0;
    border-bottom: 1px solid #d0d4d9;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background: #fff;
}

.dd-nav-links p {
    padding: 15px;
    line-height: 20px;
}

.dd-nav-links li a {
    font-size: 20px;
    color: #ccc;
}

.dd-nav-links > li > a:hover,
.dd-nav-links > li > a:focus {
    background-color: #fff;
    color: #2d3238;
}

.dd-brand {
    color: #2d3238;
}

.row {
    display: flex !important;
    flex: 1;
}

.dd-navtree {
    padding: 0;
    background-color: #2196f3;
}

.dd-navtree .treeview .list-group {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.dd-navtree .treeview .list-group .list-group-item {
    border: 0 !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dd-navtree .treeview .list-group .list-group-item:hover {
    border-left: 3px solid #5eb5fb !important;
    background-color: #35a2f9 !important;
    padding-left: 12px !important;
}

.dd-filebox {
    border-right: 1px solid #d0d4d9;
    box-shadow: 0px 1px 1px #d0d4d9;
    padding: 0;
}

.dd-filebox .filebox-header, .dd-navtree .navtree-header {
    padding: 3px 20px;
    text-transform: uppercase;
}

.dd-filebox .filebox-header {
    background-color: #ecf0f1;
    color: #262F36;
}

.dd-navtree .navtree-header {
    background-color: #2980b9;
    color: #fff;
}

.dd-filebox:hover {
    overflow: auto;
}

.dd-filebox table tr {
    font-size: 15px;
}

.dd-row-icon {
    height: 40px;
    margin-right: 9px;
}

.dd-row-details {
    padding-top: 15px !important;
}

.table th, .table td {
    border-top: none !important;
}

.table tbody tr {
    cursor: pointer;
    cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#dd-filebox-id > tr.active {
    background: #AAB2BD !important;
}

.file-info {
    background-color: #F5F7FA;
}

.dropzone {
    color: #333 !important;
    min-height: 250px !important;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.dropzone-blue {
    border: 2px dashed #55acef;
    overflow-y: auto;
    height: 332px;
}

.dz-message span {
    font-size: 21px;
    color: #646C7F;
}

.dz-message {
    margin-top: 83px !important;
}

.dropzone .dz-message {
    margin-top: 129px !important;
}

.dropdown-menu li a {
    font-size: 14px !important;
}

.dropdown-menu .dropdown-header {
    font-weight: 500;
    color: #fff;
}

.modal-backdrop, .sync-overlay .sync-back-paint {
    background-color: #474747 !important;
    -webkit-transition: opacity .5s ease-in-out !important;
    -o-transition: opacity .5s ease-in-out !important;
    transition: opacity .5s ease-in-out !important;
}

.modal-backdrop.in {
    opacity: 0.9 !important;
}

.sync-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    color: #fff;
    z-index: 999;
}

.sync-overlay .sync-back-paint {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.sync-overlay .sync-container {
    display: none;
    position: absolute;
    text-align: center;
    margin-top: 100px;
    width: 600px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
}

.fa10 {
    font-size: 300px;
}